@font-face {
  font-family: 'ChubbyChoo';
  font-style: normal;
  font-weight: 400;
 
  src:
      
       url('./font/ChubbyChoo-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('./font/ChubbyChoo-SemiBold.ttf') format('truetype') /* Safari, Android, iOS */
     
}

@font-face {
  font-family: 'FixSysCTT';
  font-style: normal;
  font-weight: 400;
 
  src:
       url('./font/17543.ttf') format('truetype') /* Safari, Android, iOS */
}
::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */}
  html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}
body {
  background-image: url(./img/xK.gif);
 background-repeat: no-repeat;
background-size:100% 100%;
background-attachment: fixed;


  font-family: 'FixSysCTT';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.navbar{
  background-color: #0f0e22;
  font-family: 'FixSysCTT';
  font-size: 20px ;
}
.navbar-light .navbar-brand{
  color: rgb(229, 37, 188) !important;
  font-family: 'ChubbyChoo';
  font-size: 25px;
}
.navbar-light .navbar-nav .nav-link{
  color: rgb(140, 38, 216) !important;
 
}
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 10px;
  font-family: 'FixSysCTT';
 overflow:auto;

 
  border-radius: 10px;
}
.footer{
  background-color: rgb(52, 58, 64);
  bottom: 0;
}
.ContentRow{
  background-color: rgb(52, 58, 64);
  border-color: #ff00d2;
    border-style: ridge;
    border-radius: 10px;
}
#content {
 
  color:white;
  flex: 1 1 auto;
  overflow-y: auto;
  height: 800px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#Unauthorize{
  display: flex;
}
#Authorize {
 
  display: flex;

}
#Authorize :hover{
 
 
  background-color: #14123d;
}
#Authorize :hover{
 
 
  background-color: #14123d;
}
.dropdown-item:hover{
 
 
  background-color: #fbfaff !important;
}
.AuthRow{ 

  color: #00ffe7;
 
}
.AuthRow label{

  color: #9fff36!important;
  font-size: 15px;
 
}